$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
// endbower

p {
  color: #FFFFFF;
  font-size: 110%;
}

ul {
  color: #E7E7E7;
  font-size: 105%;
}

ol {
  font-size: 105;
}
