body { 
    padding-top: 65px; 
}

h1 { font-size: 400%; }
h2 { font-size: 300%; }
h3 { font-size: 200%; }
h4 { font-size: 175%; }
h5 { font-size: 150%; }
h6 { font-size: 125%; }

p { 
    font-size: 120%; 
    color: rgb(224, 224, 224);
}

.organization-subtitle {
    color: #9933cc;
}

.home-titles {
    font-size: 200%;
}

nav {
    font-size: 1.15rem;
}

.navbar-brand {
    font-size: 1.15rem;
}