<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: center; font-size: 700%"><span class="text-danger">#ISUniversity Party!</h2>
    <h2 style="text-align: center; font-size: 300%">Turin &amp; Trevi | Caesar's Palace</h2>
    <h2 style="text-align: center; font-size: 300%">Friday, July 29th @ 10:00 PM</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p style="font-size: 400%" class="text-primary">
      Bring Your Board Games and Friends!
    </p>
    <p style="font-size: 200%">
      We will be hosting a safe and fun board game party for DEF CON
      attendees. We will provide the space, light refreshments and network opportunities - all
      we need is you! Come learn about what it takes to become a conference speaker. <br /><br />
      No experience required and ALL are welcome!
    </p>
  </div>
</div>
