<div class="row">
  <div class="col-md-12">
    <h2>Diversity in InfoSec <small class="text-primary">Panel Discussion</small></h2>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p style="font-size: 150%; color: #EEEEEE;">
      On Wednesday, February 1, we hosted a live chat with several conference
      organizers talking about some of the questions that many first-time speakers
      have.
      <br />
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4jCyS0Czt58" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Moderator</h3>
    <h2 style="font-size: 200%; color: #EEEEEE;">Lisa Weeks <a href="https://twitter.com/XenoGirl" target="_blank">@XenoGirl</a></h2>
    <br />

    <h3>Panelists</h3>
    <p style="font-size: 200%; color: #EEEEEE;">Elena Steinke</p>
    <p style="font-size: 110%; color: #f9f7f5;">
      Steinke is a Director at WSC, a nonprofit dedicated to promoting women in Cybersecurity.
      Steinke is a sought after industry recognized leader in Cybersecurity, and overall Systems Engineering, with experience that includes developing solutions, providing strategic direction, establishing and directing cyber security operations. Her work impacts Cybersecurity operations across continents on multi-national projects, in the financial sector, and within the US Federal space
      Steinke stood up and directed multiple Network Operation Centers, Security Operation Centers, Data Centers that included managing the development of virtualized storage technologies, and elastic cloud environments, to include Governance, Compliance & Policy, Risk Management, Vulnerability Management, Security Assessment, and Pen Testing programs across industries
      Steinke holds an undergraduate degree in IT, and an MBA. Certifications include CISSP, CEHv9, and Security+.
     </p>
     <br />
     <p style="font-size: 200%; color: #EEEEEE;">Kate Shackford</p>
     <p style="font-size: 110%; color: #f9f7f5;">
       Kate Shackford, ICMCP Director of Programs, has over thirty years’ nonprofit experience. She spent
       thirteen years working in environmental justice communities in the Bronx through GRID Alternatives Tri-
       State as Executive Director and the Bronx Overall Economic Development Corporation as Executive Vice
       President and Director of the Bronx Initiative for Energy and the Environment.
      </p>
      <br />
      <p style="font-size: 200%; color: #EEEEEE;">David Elcock <a href="https://twitter.com/devidelcock" target="_blank">@devidelcock</a></p>
      <p style="font-size: 110%; color: #f9f7f5;">
        David Elcock comes to The International Consortium of Minority Cybersecurity Professionals as the Chief Corporate Development Officer and co-founder of Lynx Technology Partners. David’s track record spans three generations as a proven convener and team builder in both for-profit and non-profit enterprises.
        In the non-profit sector, David has held a variety of positions from General Manager to Board with The Enterprise Foundation, National Equity Fund, Access One Broadband, One Economy, Mount Hope Housing Company, Morris Heights Healthcare Center, Food for Survival and World Share.
      </p>
      <br />

  </div>
</div>
