<div class="row">
  <div class="col-md-12">
    <h2>Our Mission</h2>
    <blockquote><h4 class="text-primary"><i>"Opening Doors for Diverse Voices in Security"</i></h4></blockquote>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Milestones <small class="text-info">Defined Projects</small></h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>DEFCONcierge</h4>
    <p>Every year a welcome wagon for diversity in information security should occur at DEFCON, the largest InfoSec conference in the US. DEFCONcierge is a table near registration hosted by ISUnlocked in which we will be helping new con goers learn about all of the various events of the CON.</p>
    <p>Leaders from villages and other organizations will frequently visit the DEFCONierge table to gather people to bring to their respective areas, this not only helps increase foot traffic at events but also provides a way for new people to get acclimated to the convention.
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Conference Best Practices</h4>
    <p>Create a PDF for the website that includes a top 10 list of things to include at a conference to be inclusive, DOs and DON’Ts for conferences, and general testimonials. Discussing with different diversity groups (women in tech, queercon, etc) what types of things they think would make for a better convention for them, and then using that information to better inform this document on the various groups and their needs.</p>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Community Forum</h4>
    <p>Determine how we can best enable the community to discuss important issues in InfoSec, especially as it relates to conferences. Move forward with this plan.</p>
    <p>Identify what knowledge we need to obtain and what kind of space we can provide for to join and participate in conversations.  A place where people can post articles and start discussions. Something like a Facebook group so that those who participate notifications will be brought to their attention versus a space where they need to remember to visit us.</p>
    <p>A <a target="_blank" href="https://www.reddit.com/r/isunlocked/">reddit</a> page was created for ISUnlocked to fulfil the forum aspect of the milestone, however it still needs to be used and vetted for viability.</p>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Goals <small class="text-info">Where We're Going</small></h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>One Year Plan</h4>
    <ul>
      <li>DEFCONcierge</li>
      <li>Connect with other diversity-oriented organizations</li>
      <li>Forum to discuss infosec conferences, promote voices at coferences and connect attendees</li>
      <li>Become more organized as a group. More cohesive front to the topic</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Five Year Plan</h4>
    <ul>
      <li>Bring together stories from popular diverse voices in the industry to discuss their first talks, jobs and expereinces</li>
      <li>Increase the number of talks from diverse voices at specific conferences by convincing influential people at those conferences to help</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Ten Year Plan</h4>
    <ul>
      <li>Bring together a diversity community in information security</li>
    </ul>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class=" col-md-12">
    <h2>Past Activities <small class="text-info">What We've Done</small></h2>
    <hr />
    <h6>DEF CON 23 Party</h6>
    <p>
      On Friday evening, August 7, 2015, we held an ISUnlocked party at DEF CON 23
      in Las Vegas, NV.  <a href="http://twitter.com/tarah">@Tarah</a>,
      <a href="http://twitter.com/adazebra">@AdaZebra</a> and the Infosec Unlocked
      crew hosted, with music by <a href="https://twitter.com/djjackalope/status/629863284225675265">DJ Jackalope</a>.
      We had some great conversations and made some new friends in the process.
    </p>
    <br />
    <h6>CFP Panel Discussion</h6>
    <p>
      On Wednesday, February 1st, 2017, we hosted a <a href="" target="_blank">panel
      discussion</a> centered around CFPs for smaller conferences. The panel was hosted
      by ISUnlocked founder <a href="https://twitter.com/AdaZebra/" target="_blank">@AdaZebra</a> with
      panelists from BSIDES Boise, Dakotacon, BSIDES NOVA, and CircleCityCon.
    </p>
  </div>
</div>
<!-- /.row -->
