<div class="row">
  <div class="col-md-12">
    <h2>ISU Review Board</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-primary">Steve Christey Coley <span style="color: white;">|</span> <a class="text-info" href="https://twitter.com/SushiDude">@SushiDude</a></h4>
    <p>
      Steve Christey Coley has given approximately 25 infosec conference presentations
      over 15 years - including Black Hat and DEF CON - plus numerous briefings at
      smaller workshops, primarily in the areas of CVE, CWE, and vulnerability management.
      He has actively engaged with various CFP committee members over the past 5 years.
      Amid these accepted talks is a spate of rejections that have been educational in their own right.
    </p>
  </div>
</div>
