<div class="row">
  <div class="col-md-12">
    <h2>CFP Review Board</h2>
    <h5>Interested in joining? Read some of our <a ui-sref="faq">FAQs</a> first.
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Angela Gunn</h4>
    <p>
      Incident-Response.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Brendan O'Connor</h4>
    <p>
      Criminal Law, Civil Liberties, Public International Law, Security Engineering, and Government Research and Development.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Emmanuel Gambliel</h4>
    <p>
      Web Application, Thick Client, Reverse Engineering, Code Review, Presentation Setup and Technical Writing.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Georgia Weidman</h4>
    <p>
      Smartphone Exploitation, Security Assessments and Penetration Testing.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">John Adams</h4>
    <p>
      Cryptography, SSL, SSL Deployment, Messaging, Operations, Distributed Systems, Scaling, Web Application Security, Backend Security, 2FA Implementation and Verification.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Nate Cardozo</h4>
    <p>
      Legal Counseling, Computer Crime, Reverse Engineering, Privacy, DMCA, Wiretap, and Free Speech.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Sean Sposito</h4>
    <p>
      Journalist covering Information Security, Privacy and Financial Technologies.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Steve Christey Coley</h4>
    <p>
      Vulnerability Management, Healthcare Security, Software Assurance, Disclosure, CVE and CWE.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Kat Sweet</h4>
    <p>

    </p>
  </div>
</div>
