<div class="row">
  <div class="col-md-12">
    <h2>ISU Review Board</h2>
    <h5>Interested in joining? Read some of our <a ui-sref="faq">FAQs</a> first.
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5 class="text-info">Angela Gunn</h5>
    <p>Interests: Incident-Response.</p>

    <h5 class="text-info">Brendan O'Connor</h5>
    <p>Interests: Criminal Law, Civil Liberties, Public International Law, Security Engineering, and Government R&D.</p>

    <h5 class="text-info">Emmanuel Gambliel</h5>
    <p>Interests: Web Application, Thick Client, Reverse Engineering, Code Review, Presentation Setup and Technical Writing.</p>

    <h5 class="text-info">Georgia Weidman</h5>
    <p>Interests: Smartphone Exploitation, Security Assessments and Penetration Testing.</p>

    <h5 class="text-info">John Adams</h5>
    <p>Interests: Cryptography, SSL, SSL Deployment, Messaging, Operations, Distributed Systems, Scaling, Web Application Security, Backend Security, 2FA Implementation and Verification.</p>

    <h5 class="text-info">Morgan Marquis-Boire</h5>
    <p>Interests: Threat Intel, Forensics, Incident Response, Information Security Journalism, and Threat Actors.</p>

    <h5 class="text-info">Nate Cardozo</h5>
    <p>Interests: Legal Counseling, Computer Crime, Reverse Engineering, Privacy, DMCA, Wiretap, and Free Speech.</p>

    <h5 class="text-info">Sean Sposito</h5>
    <p>Interests: Journalist covering Information Security, Privacy and Financial Technologies.</p>

    <h5 class="text-info">Stephen "Stepto" Toulouse</h5>
    <p>Interests: Incident Response and Threat Intelligence.</p>

    <h5 class="text-info">Steve Christey Coley</h5>
    <p>Interests: Vulnerability Management, Healthcare Security, Software Assurance, Disclosure, CVE and CWE.</p>

  </div>
</div>
