<div class="row">
  <div class="col-md-12">
    <h2>CFP Resources</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <!-- <div class="panel-heading">
        <h4>Sign-Up for CFP Review</h4>
      </div> -->
      <div class="panel-body">
        <h4>Looking for someone to review your talk?</h4>

        <p style="font-size: 120%">
          ISUnlocked provides a free service to the community pairing new speakers with
          conference veterans. Someone from our <a ui-sref="board" style="color: #b264d1">review board</a> will
          spend some time with you to work on your content and presentation materials. This is
          a great opportunity for new speakers to get feedback before submitting to conferences.
        </p>
        <br />
        <ol style="font-size: 120%; color: #FFFFFF; line-height: 200%">
          <li>Complete <a href="https://goo.gl/forms/rQfs45XYkHQIJwLK2" style="color: #b264d1" target="_blank">this form</a> so we can learn more about you and the conference you're preparing for.</li>
          <li>We will reach out to you via the contact information you provide, pairing you with an experienced reviewer.</li>
          <li>You and your reviewer will look over your paper and presentation materials.</li>
          <li>We'll ask you for some feedback and you're good to go!</li>
        </ol>
      </div>
    </div>
    <br />
    <h4>Online Resources</h4>
    <p><a href="https://www.youtube.com/watch?v=9yp2azFIKRY&feature=youtu.be" target="_blank">How to submit a CFP for information security conferences</a> | ISUnlocked</p>
    <p><a href="http://snipe.net/2014/06/why-you-should-stop-stalling-and-start-presenting/" target="_blank">Why You Should Stop Stalling and Start Presenting</a> | Snipe</p>
    <p><a href="https://www.ashedryden.com/blog/what-you-need-to-know-about-speaking-at-conferences" target="_blank">What You Need To Know About Speaking at Conferences</a> | Ashe Dryden</p>
    <p><a href="https://www.youtube.com/watch?v=sfWAefKcV-w" target="_blank">DEFCON UNLOCKED: Panel about submitting to DEFON</a> | Tarah Wheeler</p>
    <p><a href="https://www.youtube.com/watch?v=k0prs_m7FrE" target="_blank">CFPs 101: Panel about CFP from BSIDES Las Vegas 2016</a></p>
    <p><a href="https://whitehatcheryl.wordpress.com/giving-a-talk-in-infosec/" target="_blank">Giving a Talk in InfoSec: Do That Thing That Scares You</a> | Cheryl Biswas</p>
    <p><a href="https://thesweetkat.com/blog/2016/10/23/the-building-blocks-of-infosec-cfps" target="_blank">The Building Blocks of InfoSec CFPs</a> | Kat Sweet</p>
    <p><a href="https://thesweetkat.com/blog/2016/3/16/getting-back-up" target="_blank">Getting Back Up: I Survived, and So Will You</a> | Kat Sweet</p>
    <p><a href="https://defcon.org/html/links/dc-speakerscorner.html#nikita-cfp" target="_blank">How Do I Make my CFP Stand Out?</a> | Nikita</p>
    <p><a href="https://www.helpnetsecurity.com/2016/03/30/how-to-get-your-talk-accepted-at-black-hat/" target="_blank">How To Get Your Talk Accepted at Black Hat</a> | Mirko Zorz</p>
    <p><a href="https://techspeak.email/" target="_blank">CFP/Speaker Newsletters</a></p>
    <br />
    <h4>Listings &amp; Calendars</h4>
    <p><a href="https://twitter.com/infosec_cfp" target="_blank">@infosec_cfp</a>: Sharing CFP and event data about #InfoSec conferences.</p>
    <p><a href="https://www.peerlyst.com/posts/open-infosec-conference-cfp-s" target="_blank">PeerLystp</a>: Open InfoSec Conference CFP's.</p>
    <p><a href="https://twitter.com/CallbackWomen" target="_blank">@CallbackWomen</a>: Code women who are tech speakers. Programming conferences, shout out with Call for Proposals when you're looking for code women to callback to it.</p>
    <p><a href="https://twitter.com/mozTechCFPs" target="_blank">@mozTechCFPs</a>: Bot that tweets timely reminders of tech conference call for proposals deadlines.</p>
  </div>
</div>
