<div class="row">
  <div class="col-md-12">
    <h2>CFP Resources</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>CFP Resources</h4>
    <p><a href="http://snipe.net/2014/06/why-you-should-stop-stalling-and-start-presenting/" target="_blank">Why You Should Stop Stalling and Start Presenting</a> | Snipe</p>
    <p><a href="https://www.ashedryden.com/blog/what-you-need-to-know-about-speaking-at-conferences" target="_blank">What You Need To Know About Speaking at Conferences</a> | Ashe Dryden</p>
    <p><a href="https://www.youtube.com/watch?v=sfWAefKcV-w" target="_blank">DEFCON UNLOCKED: Panel about submitting to DEFON</a> | Tarah Wheeler</p>
    <p><a href="https://www.youtube.com/watch?v=k0prs_m7FrE" target="_blank">CFPs 101: Panel about CFP from BSIDES Las Vegas 2016</a></p>
    <p><a href="https://whitehatcheryl.wordpress.com/giving-a-talk-in-infosec/" target="_blank">Giving a Talk in InfoSec: Do That Thing That Scares You</a> | Cheryl Biswas</p>
    <p><a href="https://thesweetkat.com/blog/2016/10/23/the-building-blocks-of-infosec-cfps" target="_blank">The Building Blocks of InfoSec CFPs</a> | Kat Sweet</p>
    <p><a href="https://thesweetkat.com/blog/2016/3/16/getting-back-up" target="_blank">Getting Back Up: I Survived, and So Will You</a> | Kat Sweet</p>
    <p><a href="https://defcon.org/html/links/dc-speakerscorner.html#nikita-cfp" target="_blank">How Do I Make my CFP Stand Out?</a> | Nikita</p>
    <p><a href="https://www.helpnetsecurity.com/2016/03/30/how-to-get-your-talk-accepted-at-black-hat/" target="_blank">How To Get Your Talk Accepted at Black Hat</a> | Mirko Zorz</p>
    <p><a href="https://techspeak.email/" target="_blank">CFP/Speaker Newsletters</a></p>

    <h4>CFP Listings</h4>
    <p><a href="https://twitter.com/infosec_cfp" target="_blank">@infosec_cfp</a>: Sharing CFP and event data about #InfoSec conferences</p>
    <p><a href="https://www.peerlyst.com/posts/open-infosec-conference-cfp-s" target="_blank">PeerLystp</a>: Open InfoSec Conference CFP's</p>
    <p><a href="https://twitter.com/CallbackWomen" target="_blank">@CallbackWomen</a></p>
    <p><a href="https://twitter.com/mozTechCFPs" target="_blank">@mozTechCFPs</a></p>






    <hr />
  </div>
</div>
