<div class="row">
  <div class="col-md-12">
    <h2>Conference Hacking <small class="text-info">How to Create a CFP</small></h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p style="font-size: 130%">
      All are welcome.
      <br />
      <br />
      However, in the event of an overbooked session we will prioritize first time speakers and members from underrepresented groups.
      <br />
      <br />
      <a class="btn btn-success" href="https://goo.gl/forms/6VA2hYrJHNtwCm3v2" target="_blank">Register Now!</a>

    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <h4 class="text-success">Brainstorming and Research Methods</h4>
    <p style="font-size: 120%">
      How to brainstorm an idea and how to flesh it out a bit, and then break off into
      groups to come up with potential research topics. Next, how to take your research
      question and then create good tests and methods. This session will be sign up and
      walk in, expecting a max of 100 participants.
      <br /><br />
      Estimated: 50 minutes
    </p>
    <br />

    <h4 class="text-success">Submitting a CFP Workshop</h4>
    <p style="font-size: 120%">
      Committee members from different BSides CFP's will talk about their particular
      requirements for CFP and their selection process. Then, CFP committee members
      and experienced speakers will help attendees who came to this session to write mock papers for
      practice. Participants are encouraged to bring a project they've done in the
      past or a new idea and write a CFP as if they were going to submit it. Attendance will be based upon
      sign up ahead of time and <b class="text-info">limited to 30 participants</b> to allow for smaller workshop groups.
      <br /><br />
      Estimated: 110 minutes
    </p>
    <br />

    <h4 class="text-success">Making the Presentation</h4>
    <p style="font-size: 120%">
      This session will work on presentation techniques from how to set up your power point and not put code snippets and math on your slides, how to keep people engaged, and how to explain complex topics in a way that most people in your audience will understand. This session will be sign up and walk in, expecting a max of 100 participants.
      <br /><br />
      Estimated: 50 minutes
    </p>
    <br />

    <h4 class="text-success">How to Encourage Submissions and Participation from Diverse Groups</h4>
    <p style="font-size: 120%">
      This will be a round table discussion on setting up a code of conduct, doing
      blind review, and general discussion about bringing greater diversity to
      conferences. Attendance will be based upon sign up ahead of time and limited
      to 15 participants to keep the conversation controlled while allowing as many
      people as possible time to talk.
      <br />
      <br />
      <span class="text-danger">This session is only for conference programmers.</span>
      <br />
      <br />
      Estimated: 50 minutes
    </p>
  </div>
</div>
