<div class="row">
  <div class="col-md-12">
    <h2>Frequently Asked Questions</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <p><span class="lead text-success">Who does Infosec Unlocked serve?</span><br />
  <p>Everyone! We do love to specifically welcome women, minorities, LGBT, and other underrepresented people to ask for help, and we will prioritize first time speakers to make sure everyone gets a shot at their first time.</p>
  <br />

  <p><span class="lead text-success">What is the expected time commitment from our review volunteers?</span><br />
  <p>The minimum is 1 draft review a month or less if in the off season for infosec con CFPs. You can do more if you like, but one person helping to review 12 CFPs for underrepresented people in infosec makes a HUGE difference over time. You might spend 10-60 minutes reviewing a draft proposal and it's your option to follow through with your human and possibly cheerlead text-success them through the process. The best experience ever is to be in the audience when your n00b human speaks for the first time!</p>
  <br />

  <p><span class="lead text-success">Who is qualified to volunteer?</span><br />
  <p>Anyone who has spoken at an information security conference by having a proposal accepted through an open CFP. Anyone who's served on a CFP review board at any information security conference. Anyone with relevant skills, such as a speciality in information security as regards health, law, medicine, policy, government, travel, logistics, or any subject matter expertise. Hell, turns out we need qualified automobile diagnosticians to review proposals now.</p>
  <br />

  <p><span class="lead text-success">How do I get involved?</span><br />
  <p>We'll ask you about your subject matter expertise and which conferences you've spoken at so that we can pair you well with people who need help. No point in pairing physical security specialists with web app pentesters. Likewise, if you have served on a CFP review board for Bsides, we'll probably try to pair you with someone who wants to apply to a Bsides.</p>
  <br />

  <p><span class="lead text-success">What do you need from me?</span><br />
  <p>Please send us your preferred method of contact, name/handle/designation, short bio (anywhere between 50-500 words--so you don't have to write a new bio for us), headshot (so that if you want to participate in our webinars, we already have it. Your Twitter avatar works great), and whatever URL or Twitter handle you'd like us to link your name to on our site.</p>
  <p>The email address is insecunlocked@gmail.com.</p><br />

  <p><span class="lead text-success">Will people randomly contact me asking for help?</span><br />
  <p>Probably, especially if you give us your Twitter handle to link to. Give your Ello handle if you want to *not* be contacted :-). But any pairing from Infosec Unlocked will come from us.</p>
  </div>
</div>
