<header class="business-header">
  <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="row">
            <img class="img-responsive" src="images/logo.png" />
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
  </div>
</header>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-body">
        <h3>Panel Discussion <small>Feb 1 2017</small></h3>
        <hr />
        <p style="font-size: large; color: #DDDDDD">We will be hosting a live panel discussion to support individuals submitting papers to conferences <a ui-sref="panel">read more...</a></p>
        <a href="https://www.youtube.com/watch?v=9yp2azFIKRY&feature=youtu.be" target="_blank" class="btn btn-info">View the Live Stream</a>

        <br />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>What is ISUnlocked?</h2>
    <hr />
    <h5>We are InfoSec Unlocked and we are an organization that supports diverse voices at computer security conferences.</h5>
    <br />
  </div>
</div>

<div class="row">
  <div class=" col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Diversity Outreach</h3>
      </div>
      <div class="panel-body" style="height: 230px;">
        <p>We can help connect you to a fantastic network of groups dedicated to diversity within the many computer security conferences.</p>
        <p>We encourage organizers who are interested in working with us to please <a href="mailto:insecunlocked@gmail.com">contact us</a>.
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Conference Events</h3>
      </div>
      <div class="panel-body" style="height: 230px;">
        <p>In August 2015, we hosted an ISUnlocked party at DEF CON 23 which featured DJs and provided a space for people to talk about these diversity efforts.</p>
        <p>You can learn more by reading our <a ui-sref="mission">mission statement</a>.
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Speaking Opportunities</h3>
      </div>
      <div class="panel-body" style="height: 230px;">
        <p>If you're looking to speak at a conference but do not know how to get started, we can help you with some of the basic first steps.</p>
        <p>We will have a <a href="https://calendar.google.com/calendar/embed?src=insecunlocked%40gmail.com&ctz=America/New_York">calendar</a> of the major timelines for the conferences and links to get you started.</p>
        <p>Feel free to <a href="mailto:insecunlocked@gmail.com">reach out</a> to us at anytime with any questions you have.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->


<div class="clearfix"></div>
<div class="row">
    <div class=" col-md-12">
        <h2 name="help">How can you help?</h2>
        <hr />
        <p>If you are interested in being a member of our conversations on diversity in information security, <a href="mailto: InSecUnlocked@gmail.com">please shoot us an e-mail</a>. We are looking for forum moderators, community organizers, conference reviewers, community partners, web page reviewers, data entry, calendar maintainers, etc.
        <p>You can also follow us on <a href="https://twitter.com/isunlocked">Twitter</a> to stay connected!</p>
    </div>
</div>
<!-- /.row -->

<br />
