<style>
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 20px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="row">
          <img class="img-responsive" src="images/logo.png" />
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</header>

<br />
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="panel panel-success">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h3 style="text-align: center;">Join us for InfoSec Unlocked University</h3>
            <p style="text-align: center; font-size: 140%">
              DEF CON 25 in Las Vegas, Nevada from July 27th - 29th
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSfRB7DupYR0DRoKcQeuLa0G3Q3KEWzCtfRU1qQXyAtFDdn1Ow/viewform?c=0&w=1" class="btn btn-lg btn-success" target="_blank">Register Now</a>&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="dc25" class="btn btn-lg btn-success">View Schedule</a></center>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <ul style="font-size: 120%">
              <li>Learn about submitting papers to conferences.</li>
              <li>Get feedback from InfoSec rockstars in your field.</li>
              <li>Create better presentations and submissions.</li>
            </ul>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h2>What is ISUnlocked?</h2>
    <hr />
    <h5>We are InfoSec Unlocked and we are an organization that supports diverse voices at computer security conferences.</h5>
  </div>
</div>

<div class="row">
  <div class=" col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Diversity &amp; Outreach</h3>
      </div>
      <div class="panel-body">
        <p>
          We can help connect you to a fantastic network of groups dedicated to diversity
          within the many computer security conferences.
        </p>
        <p>
          If you are a conference organizer and would like to learn more about
          diversity and inclusion please contact us <a href="mailto:insecunlocked@gmail.com">contact us</a>.
        </p>
        <p>
          If you are looking to speak at conferences we have a variety of resources to get you started.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Submitting to a CFP?</h3>
      </div>
      <div class="panel-body">
        <p>
          If you are submitting to a CFP and would like someone to look over your paper,
          please register to have one of our reviewers look over it for you.
        </p>
        <p>
          Someone from our team will contact you to pair you with a reviewer.
        </p>
        <br />
        <a class="btn btn-info btn-lg col-md-12" href="https://goo.gl/forms/rQfs45XYkHQIJwLK2" target="_blank">Sign-Up For CFP Review!</a>
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Speaking Opportunities</h3>
      </div>
      <div class="panel-body">
        <p>If you're looking to speak at a conference but do not know how to get started, we can help you with some of the basic first steps.</p>
        <p>We will have a <a href="https://calendar.google.com/calendar/embed?src=insecunlocked%40gmail.com&ctz=America/New_York">calendar</a> of the major timelines for the conferences and links to get you started.</p>
        <p>Feel free to <a href="mailto:insecunlocked@gmail.com">reach out</a> to us at anytime with any questions you have regarding our organization or submitting to conferences.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="clearfix"></div>
<div class="row">
  <div class=" col-md-12">
    <h2 name="help">How can you help?</h2>
    <hr />
    <p>
      If you are interested in being a member of our conversations on diversity
      in information security, <a href="mailto: InSecUnlocked@gmail.com">please
      shoot us an e-mail</a>. We are looking for forum moderators, community organizers,
      conference reviewers, community partners, web page reviewers, data entry, calendar maintainers, etc.</p>
      <p>
      We are also looking for people to join our <a ui-sref="board">CFP Review Board</a>. E-mail <a href="mailto:t@tarah.org">t@tarah.org</a> for more information about joining.</p>
      <p>You can also follow us on <a href="https://twitter.com/isunlocked" target="_blank">Twitter</a> to stay connected!</p>
  </div>
</div>
<!-- /.row -->
