<div class="row">
  <div class="col-md-12">
    <h2>Mission Statement</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>General Statement</h4>
    <p>Opening Doors for Diverse Voices in Security</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Specific Aims</h4>
    <p>Help new voices be heard at information security conferences and connect with diversity organizations to provide a unified front.</p>

  </div>
</div>

<br />
<div class="row">
  <div class="col-md-12">
    <h2>Goals</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>One Year Plan</h4>
    <ul>
      <li>DEFCONcierge</li>
      <li>Connect with other diversity-oriented organizations</li>
      <li>Forum to discuss infosec conferences, promote voices at coferences and connect attendees</li>
      <li>Become more organized as a group. More cohesive front to the topic</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Five Year Plan</h4>
    <ul>
      <li>Bring together stories from popular diverse voices in the industry to discuss their first talks, jobs and expereinces</li>
      <li>Increase the number of talks from diverse voices at specific conferences by convincing influential people at those conferences to help</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Ten Year Plan</h4>
    <ul>
      <li>Bring together a diversity community in information security</li>
    </ul>
  </div>
</div>
