<div class="row">
  <div class="col-md-12">
    <h2>Our Mission</h2>
    <p style="font-size: 140%">
      Opening Doors for Diverse Voices in Information Security Conferences.<br />
      Connecting diverse groups of people in the infosec community through outreach.</p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>One-Year Plan</h2>
    <ul style="font-size: 140%">
      <li>DEF CON 25 Lecture Series</li>
      <li>Connect with other diversity-oriented organizations</li>
      <li>Create a best practices guide for organizing conferences</li>
      <li>Become a 501c3 non-profit</li>
    </ul>
    <hr />

    <h2>Five-Year Plan</h2>
    <ul style="font-size: 140%">
      <li>Aggregate stories from popular diverse voices to discuss their first times speaking</li>
      <li>Increase the number of talks from diverse voices at confernces</li>
      <li>Make it easier for members of underrepresented groups attend and speak at conferences via scholarships</li>
    </ul>
    <hr />

    <h2>Ten-Year Plan</h2>
    <ul style="font-size: 140%">
      <li>Create a diverse community of conference speakers in information security</li>
      <li>Give diverse voices a solid platform from which to start their career in speaking at conferences</li>
    </ul>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Organization Roles</h2>
    <br />
    <h5 class="text-info">Executive Director</h5>
    <h6>Current: AdaZebra</h6>
    <p>
      <b>Executive Director of InfoSec Unlocked</b>, making sure that conference events
      happen and helping organize volunteer efforts. Executive Director work with
      Incorporation and business keeping including, but not limited to banking,
      donations, and state and federal paperwork. Banking includes the holding of
      corporate sponsor and individual donation funding in an organizational bank
      account and the writing of checks to cover cost of incorporation, cost of
      events, and disbursement of scholarships.
    </p>
    <br />

    <h5 class="text-info">Advisory Board</h5>
    <h6>Current: Tarah Wheeler</h6>
    <p>
      Leaders in the industry, who help with outreach. Support filling of spots
      for events and obtaining funding from corporate sponsors.
    </p>
    <br />

    <h5 class="text-info">Executive Leadership Board</h5>
    <h6>Current: Adazebra, Steve Christey Coley, Tyler Walker</h6>
    <p>
      Make strategic decisions and participate in discussions that impact the future
      of the organization. Central to programs and leaders for meetings and events.
      Identify necessary roles and find the appropriate people to fulfill those roles.
    </p>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Milestones</h2>
    <br />

    <h5 class="text-info">DEFCON Lecture Events</h5>
    <p>
      Every year a lecture series on how to create a CFP should occur at DEFCON,
      the largest InfoSec conference in the US. This can include lectures on how
      to come up with an idea, how to do research, how to write an appropriate paper,
      and how to make a good talk.
    </p>
    <br />

    <h5 class="text-info">Conference Best Practices</h5>
    <p>
      Coming up with resources and information to help new and existing conferences
      to become more inclusive. This would include things like; how to build a Code
      of Conduct and why, how to handle sensitive incidents at your conference, how
      to make your conference more attractive and proactively recruit underrepresented
      speakers, etc.
    </p>
    <br />

    <h5 class="text-info">Video Series</h5>
    <h6>Current: Adazebra, Steve Christey Coley, Tyler Walker</h6>
    <p>
      This will include the current videos on diversity in information security
      and infosec conferences and a new upcoming series on how to approach call for papers.
      This new section will include 4-5 minute quick videos on how to brainstorm an idea,
      how to find the right conference, how to write a technical paper, how to build
      a presentation and how to give a compelling talk.
    </p>
    <br />
  </div>
</div>
