<div class="row">
  <div class="col-md-12">
    <h2>Organization</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Executive Director </h4>
    <p>Executive Director of InfoSec Unlocked, making sure that conference events happen and helping organize volunteer efforts. Executive Director work with Incorporation and business keeping including, but not limited to banking, donations, and state and federal paperwork. Banking includes the holding of corporate sponsor and individual donation funding in an organizational bank account and the writing of checks to cover cost of incorporation, cost of events, and disbursement of scholarships.</p>
    <ul>
      <li>AdaZebra - <a target="_blank" href="https://twitter.com/adazebra">@AdaZebra</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Advisory Board</h4>
    <p>Leaders in the industry, who help with outreach. Support filling of spots for events and obtaining funding from corporate sponsors.</p>
    <ul>
      <li>Tarah Wheeler - <a target="_blank" href="https://twitter.com/tarah">@tarah</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4>Executive Leadership</h4>
    <p>Make strategic decisions and participate in discussions that impact the future of the organization. Central to programs and leaders for meetings and events. Identify necessary roles and find the appropriate people to fulfill those roles.</p>
    <ul>
      <li>AdaZebra - <a target="_blank" href="https://twitter.com/adazebra">@AdaZebra</a></li>
      <li>Steve Christey Coley - <a href="https://twitter.com/sushidude">@SushiDude</a></li>
      <li>Tyler Walker - <a target="_blank" href="https://twitter.com/codertwalker">@codertwalker</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4>Web Development</h4>
    <p>Coming up with new ideas for the website. Discussing those ideas with the group at meetings. Making those ideas become a reality on the website.</p>
    <ul>
      <li>Tyler Walker - <a target="_blank" href="https://twitter.com/codertwalker">@codertwalker</a></li>
      <li>Mansi Thakar - <a target="_blank" href="https://twitter.com/mansimusa"> @mansimusa</a><</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Outreach</h4>
    <p>Spreading the word about diversity in information security. Leading one or more of the social media accounts for InfoSec Unlocked, such as the twitter account or newsletter. Helping lead social events. Making connections with other diversity efforts and their leadership to create cohesiveness in the space.</p>
    <ul>
      <li>Lisa Weeks - <a href="https://twitter.com/XenoGirl">@XenoGirl</a></li>
      <li>Steve Christey Coley - <a href="https://twitter.com/sushidude">@SushiDude</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4>CFP Reviewers Admin</h4>
    <p>Keeping CFP reviewers engaged. Responding to requests for help. Allocating new requests to reviewers. Keeping up with the status of help. Sending surveys to those we have helped and keeping track of that feedback. </p>
    <ul>
      <li>Straithe</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Conference Diversity Advocate</h4>
    <p>Responding to requests for assistance with increasing diversity at new and existing conferences. Being in charge of conference diversity events. Keeping track of our own code of conduct and that of other organizations and events.</p>
    <ul>
      <li>Tibbs</li>
    </ul>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <h4>Administrative</h4>
    <p>Keeping website, calendar, TO DOs, and conference information current. Keeping meeting notes. Keeping projects on schedule and on task.</p>
    <ul>
      <li>Mansi Thakar - <a target="_blank" href="https://twitter.com/mansimusa"> @mansimusa</a><</li>
      <li>Steve Christey Coley - <a href="https://twitter.com/sushidude">@SushiDude</a></li>
      <li>AdaZebra - <a target="_blank" href="https://twitter.com/adazebra">@AdaZebra</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>General Volunteers</h4>
    <p>Taking over various specific tasks as needed. Coming up with ideas for the group and discussing them at the weekly meetings. Helping with conference events.</p>
    <ul>
      <li>Emily</li>
      <li>Straithe</li>
      <li>Diane</li>      
    </ul>
  </div>
</div>
