<div class="row">
  <div class="col-md-12">
    <h2>Organization</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Testing Founders --- Founders</h4>
    <p>Leaders of ISUnlocked, making sure conference events happen and help organize volunteer efforts.</p>
    <ul>
      <li>Tarah Wheeler - <a target="_blank" href="https://twitter.com/tarah">@tarah</a></li>
      <li>AdaZebra - <a target="_blank" href="https://twitter.com/adazebra">@AdaZebra</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Web Development</h4>
    <p>Coming up with and implementing new ideas for the website.</p>
    <ul>
      <li>Tyler Walker - <a target="_blank" href="https://twitter.com/codertwalker">@codertwalker</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Outreach</h4>
    <p>Spreading the word about diversity in information security. Leading one of the social media accounts for ISUnlocked, such as the twitter account or newsletter.</p>
    <ul>
      <li>Lisa Weeks - <a href="https://twitter.com/XenoGirl">@XenoGirl</a></li>
      <li>Steve Christey Coley - <a href="https://twitter.com/sushidude">@SushiDude</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Administrative</h4>
    <p>Keeping website, calendar, TO DOs, and conference information current. Keeping meeting notes. Keeping projects on schedule and on task.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>General Volunteers</h4>
    <p>Taking over various specific tasks as needed. Coming up with ideas for the group and discussing them at the weekly meetings.</p>
  </div>
</div>
