<div class="row">
  <div class="col-md-12">
    <h2>CFP Discussion <small class="text-primary">Panel Discussion</small></h2>
    <a href="https://www.youtube.com/watch?v=9yp2azFIKRY&feature=youtu.be" target="_blank" class="btn btn-info">View the Live Stream</a>

    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p style="font-size: 150%; color: #EEEEEE;">
      On Wednesday, February 1, at 4PM Pacific we will be hosting a live chat with several conference
      organizers talking about some of the questions that many first-time speakers
      have. If you've never submitted to a conference and want to, then please join
      us to learn more. We will be sharing the link on our Twitter feed:
      <a href="https://twitter.com/isunlocked/">@isunlocked</a>.
      <br />
    </p>

    <p style="font-size: 150%; color: #EEEEEE;">Some of the topics we will discuss:</p>
    <ul style="font-size: 130%; color: #EEEEEE;">
      <li>What is the review process like?</li>
      <li>What if I'm afraid I'll be rejected?</li>
      <li>Should I submit my paper as early as possible?</li>
      <li>Do you require that content must be brand new and ground-breaking?</li>
    </ul>
    <br />

    <p style="font-size: 150%; color: #EEEEEE;">
      We have also created a list of <a ui-sref="cfp_resources">resources</a> for those who want to get started speaking at conferences.
    </p>
    <hr />

    <h3>Panelists</h3>
    <p style="font-size: 200%; color: #EEEEEE;">Kat Sweet <a href="https://twitter.com/TheSweetKat" target="_blank">@TheSweetKat</a></p>
    <p style="font-size: 110%; color: #f9f7f5;">
      Kat Sweet is in her final semester of studying network security at Madison
      Area Technical College. When she’s not hacking for grades (or lulz),
      she feeds herself (and her brain) by blue teaming for her school, writing,
      and teaching at her friendly neighborhood hackerspace.She got her speaking
      start in the BSidesLV Proving Ground, where she returned last year as a presentation mentor.
      She currently serves as the CFP co-chair for CircleCityCon, as well as a founding board member of TiaraCon.
      Her speaking credits include BSidesLV, CircleCityCon, CypherCon, SkyTalks, and the DEF CON Wireless Village.
      Always accumulating way too many hobbies, she enjoys long walks on the beach, bursting into song, and picking unsuspecting locks.
     </p>
     <br />
     <p style="font-size: 200%; color: #EEEEEE;">Sandra (Sandy) Dunn <a href="https://twitter.com/subzer0girl" target="_blank">@subzer0girl</a></p>
     <p style="font-size: 110%; color: #f9f7f5;">
       Sandra (Sandy) Dunn has over 22 years in the software and hardware industry.
       Initially starting out in software and hardware sales she worked with NASA, JPL,
       Secret Service, IRS, and other Federal Agencies to determine their server, PC, and notebook needs.
       At HP she started in the Competitive Intelligence team and held several roles there including leading
       the implementation of the HP Inc. Cybersecurity PSIRT after the Hewlett Packard split. She is now in
       a brand new role as an IT Security Architect with Blue Cross of Idaho. She was swept into conference
       organization and hosting when her good friend Jay Radcliffe suggested coffee and said, “I have an idea,
       and I need your help.” They are in the planning stages of BSidesBoise 2017.</p>
       <p style="font-size: 110%; color: #f9f7f5;">
         She has a CISSP, ISTQB, GSEC, GCIH, GCCC, GCPM, GSLC, GSNA, GWAPT, GCPM, and
       GLEG She has been a SANS Mentor which is on pause until she completes her Masters in
       Information Security Management from SANS.edu. She has two children, a wonderful husband,
       too many horses and lives outside of Boise Idaho.
      </p>
      <br />
      <p style="font-size: 200%; color: #EEEEEE;">Meg Layton <a href="https://twitter.com/vamegabyte" target="_blank">@Vamegabyte</a></p>
      <p style="font-size: 110%; color: #f9f7f5;">
        Meg has been working in technology for over two decades. She currently works
        for Symantec in the Cyber Security Services department, and as Director of
        Engineering she with a team of software and security professionals who are
        building the tools for frontline defenders in cyberspace. Prior to joining
        Symantec, she worked as Director of IT for a cellular telecommunications
        company doing business in Africa.  Meg holds certifications from various
        vendors such as ISC(2) and SANS GIAC on topics such as Secure Software
        Lifecycle, Digital Forensics and Incident Response, and Agile Software
        Development practices.  She is currently finishing her doctorate in
        Information Assurance. She has a MS degree from Polytechnic University,
        now a part of NYU. <a href="https://twitter.com/vamegabyte" target="_blank">@Vamegabyte</a> on twitter.  She has served as a reviewer
        on Call for Papers for several conferences, both security and technology
        related, most recently on the BSidesNoVA conference.
      </p>
      <br />
      <p style="font-size: 200%; color: #EEEEEE;">Kyle Cronin <a href="https://twitter.com/Kyle_Cronin" target="_blank">@Kyle_Cronin</a></p>
      <p style="font-size: 110%; color: #f9f7f5;">
        Dr. Kyle Cronin is an Assistant Professor of Cyber Operations at Dakota
        State University. Dr. Cronin is the co-principle for DSU’s Cyber Operations
        degree program, focusing on partnerships, curriculum, and student success
        initiatives. In addition, Dr. Cronin directs DSU’s Information Assurance Lab,
        which provides a cloud computing based hands on lab environment for technology
        curriculum that extends the same lab environment to students participating
        in both on campus and through distance education. Finally, he directs DakotaCon
        and the North Central Regional Collegiate Cyber Defense Competition, which are
        free events open to the public jointly hosted annually at the DSU campus.
      </p>

  </div>
</div>
