<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <h2>Past Events</h2>
    <hr />
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-md-5">
        <h5>LGBT Representation at InfoSec Conferences</h5>
        <br />
        <p>
          On Saturday, October 14th we hosted several members of the LGBT in security community
          to talk about LGBT representation at conferences.
        </p>
        <p>
          Moderator: Tyler Walker <a href="https://twitter.com/airercode500" target="_blank">@airercode500</a><br /><br />
          Emily <a href="https://twitter.com/emilymaxima" target="_blank">@emilymaxima</a><br />
          Avi <a href="https://twitter.com/_llzes" target="_blank">@_llzes</a><br />
          TProphet <a href="https://twitter.com/TProphet" target="_blank">@TProphet</a><br />
        </p>
      </div>
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/LzMNwUE1BXc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-md-5">
        <h5>Diversity Organizations in Information Security</h5>
        <br />
        <p>
          On Wednesday, May 24th we hosted a live panel with organizers from several
          diversity organizations that you might find at InfoSec conferences.
        </p>
        <p>
          Moderator: Lisa Weeks <a href="https://twitter.com/XenoGirl" target="_blank">@XenoGirl</a><br /><br />
          Women's Cyberjutsu: Elena Steinke<br />
          ICMCP: Kate Shackford<br />
          ICMCP: David Elcock <a href="https://twitter.com/devidelcock" target="_blank">@devidelcock</a><br />
        </p>

        <a ui-sref="diversity-panel">Learn More...</a>
        </p>
      </div>
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/4jCyS0Czt58" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-md-5">
        <h5>Submit a CFP for Security Conferences</h5>
        <br />
        <p>
          On February 1st, 2017 we hosted a live panel with organizers from several different conferences to discuss Call for Papers (CFPs). Our panelists answered questions that were created by the ISUnlocked team as well as taking questions from
          the audience.
        </p>
        <p>
          Moderator: Ada Zebra <a href="https://twitter.com/AdaZebra" target="_blank">@AdaZebra</a><br /><br /> BSIDES Boise: Sandy Dunn <a href="https://twitter.com/subzer0girl" target="_blank">@subzer0girl</a><br /> DakotaCon: Kyle Cronin <a href="https://twitter.com/Kyle_Cronin"
              target="_blank">@Kyle_Cronin</a><br /> Circle City Con: Kat Sweet <a href="https://twitter.com/TheSweetKat" target="_blank">@TheSweetKat</a><br /> BSIDES NOVA: Meg Layton <a href="https://twitter.com/vamegabyte" target="_blank">@Vamegabyte</a>
        </p>

        <a ui-sref="cfp-panel">Learn More...</a>
        </p>
      </div>
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/9yp2azFIKRY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
